{% extends "base.html" %}
{% block content %}
<main class="flex-grow-1">
      <div class="container-lg mt-3">
          <h1>Сайты</h1>
          <div class="table-responsive">
              <table class="table table-bordered table-hover table-nowrap" data-test="urls">
                  <thead>
                  <tr>
                      <th>ID</th>
                      <th>Имя</th>
                      <th>Последняя проверка</th>
                      <th>Код ответа</th>
                  </tr>
                  </thead>
                  <tbody>
                  {% if urls %}
                      {% for url in urls %}
                          {% for check in last_check %}
                              {% if check.id == url.id %}
                                  <tr>
                                      <td>{{ url.id }}</td>
                                      <td><a href="{{ url_for('url_page', id=url.id) }}">{{ url.name }}</a></td>
                                      <td>{% if check.created_at %}{{ check.created_at.strftime('%Y-%m-%d') }}{% endif %}</td>
                                      <td>{% if check.status_code %}{{ check.status_code }}{% endif %}</td>
                                  </tr>
                              {% endif %}
                          {% endfor %}
                      {% endfor %}
                  {% endif %}
                  </tbody>
              </table>
          </div>
      </div>
</main>
{% endblock %}
